.login-container {
    width: auto;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.login-box {
    max-width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0.5, 0.5);
    border: 1px solid #388e3c;
}

.login-titleHeader {
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

.login-logo {
    width: 100%;
    margin-top: 10px;
}

.login-box h2 {
    margin: 5px;
    padding: 5px;
    font-family:'Courier New', Courier, monospace;
}

.loginform-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding-bottom: 0;
    background-color: whitesmoke;
}

.login-box input {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid black;
    font-family:'Courier New', Courier, monospace;
}

.login-box button {
    margin-top: 15px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #388e3c;
}

.login-box button p {
    color: whitesmoke;
    font-family:'Courier New', Courier, monospace;
}

.link-register {
    margin: 0;
    padding-bottom: 5px;
}

.link-register p {
    color: black;
    font-family:'Courier New', Courier, monospace;
    font-weight: 700;
}

.login-error {
    margin: 5px;
    padding: 5px;
    color: red;
}

#googleSignIn {
    margin: 10px;
}


/* TABLET MODE MIN-768PX */
@media only screen and (min-width: 768px) {
    .login-box {
        margin-left: 25%;
        margin-right: 25%;
    }

}