.account-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    font-family:'Courier New', Courier, monospace;
}

.account-header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: whitesmoke;
    margin-top: 10px;
}

.account-info {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(143, 225, 175);
    border: 1px solid rgb(166, 211, 213);
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    font-size: small;
}

.account-info button {
    font-family:'Courier New', Courier, monospace;
}

.rows {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 3px;
    font-weight: 500;
}

.info-first {
    width: 100%;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content:space-between;
    background-color: whitesmoke;
}

.info-last {
    width: 100%;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
}

.info-username {
    width: 100%;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
}

.info-email {
    width: 100%;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
}

.info-location {
    width: 100%;
    margin-right: 5px;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
}


@media only screen and (min-width: 768px) {
    .account-container {
        margin-left: 20px;
        margin-right: 20px;
    }
}