.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Courier New', Courier, monospace;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
    text-align: center;
  }

  .modal-content h3 {
    margin-bottom: 10px;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .modal-buttons button {
    padding: 10px 20px;
    border: none;
    background-color: #4caf50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family:'Courier New', Courier, monospace;
  }
  
  .modal-buttons button:hover {
    background-color: #45a049;
  }
  
  .modal-buttons button:last-child {
    background-color: #f44336;
  }
  
  .modal-buttons button:last-child:hover {
    background-color: #e53935;
  }
  